# Python: Data Types
Data types are the building blocks of our program that form the raw material that we process with out programs. In Python, all data types are objects, and there are a number of built in object types that are commonly used.

- Numeric data types: **integers** and **floats**
- **Booleans** (logical data type, `True` or `False`)
- **Strings** (sequence of characters)
- Collections â€“ data types that may contain any kind of object (including other collections)
    - **Lists** (sequences that are mutable, or changable)
    - **Tuples** (sequences that are immutable, or static)
    - **Dictionaries** (mappings from a key to a value)

## Numbers
There are two primary numerical data types in Python that you'll see: integers and floats. For integers, these will be whole numbers (e.g. 1,2,3,60000,-12,0). Floats (or floating point numbers) enable decimal values to be included.

## <font color='orange'>Required Reading</font> 
[Variables, expressions, and statements](https://www.py4e.com/html3/02-variables) from Python for Everybody by Charles Severance. Supplementary videos are [available here](https://www.py4e.com/lessons/memory)

*For reference, the function `type()` below returns the type of object.*

In [81]:
x = 3
type(x)

int

In [82]:
x = 3.4
type(x)

float

When you divide two integers that do not result in an integer, the result is a float (this is true in Python 3.x, but the behavior was different in Python 2.7).

In [83]:
a = 7
b = 2
print(type(a))
print(type(b))
c = a / b
print(c)
print(type(c))

<class 'int'>
<class 'int'>
3.5
<class 'float'>

## Strings
Strings are sequences of characters. For example 'Data Science' contains 12 characters including one space in a particular order (or sequence).

In [84]:
x = 'this'
type(x)

str

## <font color='orange'>Required Reading</font> 
[Strings](https://www.py4e.com/html3/06-strings) from Python for Everybody by Charles Severance. Supplementary videos are [available here](https://www.py4e.com/lessons/logic)

### Booleans
Booleans are data type objects that can take on two values, `True` or `False`, which are used for logical operations

In [85]:
x = True
type(x)

bool

### Variable names
There are a few rules around naming variables. You cannot name variables starting with a number, so `1000miles` is not a valid variable name. You can use numbers in variable names, but they just can't begin the name. So `miles1000` is legal syntax. You can use letters, numbers, and underscores, but not other symbols. Therefore, `eat@joes` is not a valid name.

We'll talk more about style later, but generally, you'll want to make these variable names meaningful. Let's say you were trying to represent the speed of a train. You could use a variable `s`, but there are a lot of things that could mean. A better (and more descriptive) name would be `speed`, and better still would be `speed_of_train`. Now, you want this to be within a reasonable length, so `speed_of_train_from_boston_to_new_york_through_new_haven_and_providence` is not an ideal name because it's far too long. Use common sense and above all, make your code readable so someone else could easily pick it up, understand it, and use it.

There are also a number of reserved words for the Python language that you cannot use in your programs:

| | | | | |
|----------|----------|----------|----------|-------|
|and       |del       |from      |None      |True   |
|as        |elif      |global    |nonlocal  |try    |
|assert    |else      |if        |not       |while  |
|break     |except    |import    |or        |with   |
|class     |False     |in        |pass      |yield  |
|continue  |finally   |is        |raise     |       |
|def       |for       |lambda    |return    |       |

## Containers: lists and tuples

## <font color='orange'>Required Reading</font> 

1. [Lists](https://www.py4e.com/html3/08-lists) from Python for Everybody by Charles Severance. ([lists videos](https://www.py4e.com/lessons/lists))
2. [Tuples](https://www.py4e.com/html3/10-tuples) from Python for Everybody by Charles Severance. ([tuples videos](https://www.py4e.com/lessons/tuples))

Containers (or sequences) can hold multiple basic data types (integers, floats, Booleans, strings). Lists are defined with brackets [], and tuples are defined with parentheses (). Either can contain any other data type including other lists or tuples.

In [86]:
x = [1,2,3]
type(x)

list

In [87]:
x = (1,2,3)
type(x)

tuple

You can also mix and match data types in these containers

In [88]:
x = [1,2,'this',True]
print(x)

[1, 2, 'this', True]

In [89]:
x = (1,2,'this',True)
print(x)

(1, 2, 'this', True)

These containers can even contain other containers!

In [90]:
x = [1,[2,3,4],'this',('this',2),True]
print(x)

[1, [2, 3, 4], 'this', ('this', 2), True]

In [91]:
x = (1,[2,3,4],'this',('this',2),True)
print(x)

(1, [2, 3, 4], 'this', ('this', 2), True)

In practice, we'll most commonly see these lists with more homogeneous data types, (e.g. all numbers, or all text) and tuples with more heterogeneous sequences.

In [92]:
x = [1,2,6,32,7,8,4,3]
y = (10, 'Downing Street', 'London', 'United Kingdom')

Mutable means changeable or dynamic (think the word "mutation"). Immutable means unable to be changed, or static. An example of a mutable data type is a list.

In [93]:
x = [1,2,3,4,5]
x[0] = 99
print(x)

[99, 2, 3, 4, 5]

Tuples, on the other hand, are immutable, and you'll get an error if you try to change one of their elements.

In [94]:
x = (1,2,3,4,5)
x[0] = 99

TypeError: 'tuple' object does not support item assignment

## Dictionaries

## <font color='orange'>Required Reading</font> 
[Dictionaries](https://www.py4e.com/html3/09-dictionaries) from Python for Everybody by Charles Severance. ([dictionary videos available here](https://www.py4e.com/lessons/dictionary))

Then there are dictionaries. Think about how a tradition paper dictionary works. You want to search for a definition (we'll call these values), and the definition is connected with a particular word (we'll call these keys). You open up the dictionary, search for the key, and by doing so are able to retrieve the corresponding value. That's how a dictionary works here: it *maps* keys to values.

Let's start with an example with two key-value pairs. Let's assume we are representing the ages of two people, Sheila, age 34, and Robert, age 17. We can represent this with the following dictionary:

In [95]:
age = {'Sheila': 34, 'Robert': 17}
print(age)

{'Sheila': 34, 'Robert': 17}

If you want to know what Sheila's age is, just look it up as you would in a dictionary.

In [96]:
age['Sheila']

34

Now, dictionaries are also mutable, so they can be changed after being created. Let's adjust Robert's age to 18. Let's also add Polly, age 42, to the dictionary.

In [97]:
age['Robert'] = 18
age['Polly']  = 42
print(age)

{'Sheila': 34, 'Robert': 18, 'Polly': 42}

We'll return to each of these data types in the context

## Operators
- Basic numerical operators: +, -, \*, /, //, \*\*, %
- Assignment operators: =, +=, -=, \*=, /=
- Relational operators: >, <, ==, !=, >=, <=
- Logical operators: and, or, not
- Membership operators: in, not in

### Basic numerical operators
Most of the standard numerical operators will be familiar including +, -, \*, /

In [98]:
5 + 2

7

In [99]:
5 - 2

3

In [100]:
5 * 2

10

In [101]:
5 / 2

2.5

There are a few numerical operators that require a little bit more explanation.

First, exponentiation (\*\*)

In [102]:
5 ** 2

25

In addition to "classic" or "true" division, / , there is also floor division, // , which rounds the result of division down to the nearest integer.

In [103]:
5 // 2

2

The modulus operator, % , returns the remainder from division. For example, if you divide 5 by 2, you can express the result as 2 with a remainder of 1. If you divide 9 by 3 it is cleanly divided with a remainder of zero. This is often used to determine whether or not one value is a multiple of another.

In [104]:
5 % 2

1

In [105]:
9 % 3

0

### Assignment operators
Here, we'll discuss the standard operators for assigning a value to a variable: `=`, `+=`, `-=`, `*=`, `/=`

The most typically used operator is the equal sign. It assigns the expression the right to the variable on the left. It's important to note that this is different from logical operator that compares whether two quantities are equal - that is a double equals sign `==`.

In [106]:
x = 7
print(x)

7

You can also assign multiple variables using tuples, lists, and strings. The number of items in the container on the left must match the number on the right.

In [107]:
a, b = (3, 4)
print(a)
print(b)

3
4

This is equivalent to writing the following:

In [108]:
(a, b) = (3, 4)
print(a)
print(b)

3
4

This is also equivalent to this:

In [109]:
[a, b] = (3, 4)
print(a)
print(b)

3
4

You can also do this assignment with lists:

In [110]:
a, b = [3, 4]
print(a)
print(b)

3
4

In [111]:
a, b = 'th'
print(a)
print(b)

t
h

You can also have more than two elements involved:

In [112]:
a, b, c, d = (3, 4, 9, 'this')
print(a)
print(b)
print(c)
print(d)

3
4
9
this

Let's say we wanted to increment the value stored in x but keep it stored in x - this is a common task. We could write the following:

In [113]:
x = 7
x = x + 1
print(x)

8

Or, equivalently, we could use the increment operator

In [114]:
x = 7
x += 1
print(x)

8

We could increment by whatever value we'd like

In [115]:
x = 7
x += 4
print(x)

11

In [116]:
We could similarly decrement the value

SyntaxError: invalid syntax (<ipython-input-116-32ce0bf9674d>, line 1)

In [117]:
x = 7
x = x - 1
print(x)

6

In [118]:
x = 7
x -= 1
print(x)

6

There are similar operators for multiplication and division

In [119]:
x = 7
x *= 2
print(x)

14

In [120]:
x = 7
x /= 2
print(x)

3.5

### Relational operators
These operators are used for comparison and are typically used for numerical data:
- Greater than >
- Less than <
- Equal to ==
- Not equal to !=
- Greater than or equal to >=
- Less than or equal to <=

Each returns a value of `True` or `False` depending on the status of the condition.

In [121]:
2 == 3

False

In [122]:
2 < 3

True

In [123]:
2 > 3

False

In [124]:
2 != 3

True

In [125]:
2 >= 3

False

In [126]:
2 <= 3

True

### Logical operators
There are three primary logical operators: `and`, `or`, and `not`. If both arguments in the expression are True, then the `and` statement returns true. If one or more of the arguments in the expression are True, then `or` returns true. `not` returns the opposite of the argument.

In [127]:
t = True
f = False

t and f

False

In [128]:
t and t

True

In [129]:
f and f

False

In [130]:
t or f

True

In [131]:
t or t

True

In [132]:
f or f

False

In [133]:
not t

False

Of course, you can combine these together, nesting them, to make more intricate expressions.

In [134]:
(t and f) or (f and f)

False

It's worthwhile to know that EVERY object has a corresponding Boolean value. The following each evaluate to `False`:
- False
- None
- 0
- Empty collections [], (), {}

With a few other exceptions, most things will return True. Here are some examples to demonstrate:

In [135]:
x = 7
not x

False

In [136]:
x = 0
not x

True

In [137]:
x = []
not x

True

In [138]:
x = [1,3,4]
not x

False

In [139]:
x = None
not x

True

### Membership operators
Imagine that we have a list and want to determine whether or not a certain entry is contained in that list. The operators `in` and `not in` are specifically for that purpose. They return a Boolean that corresponds to whether or not the condition is true.

In [140]:
mylist = [1,3,6,8,23,256]
3 in mylist

True

In [141]:
4 not in mylist

True

It also works with mixed object types

In [142]:
mynewlist = [1,3,6,8,23,256,'this','that']
'this' in mynewlist

True

And tuples work similarly

In [143]:
mynewtuple = (1,3,6,8,23,256,'this','that')
'this' in mynewtuple

True

# Exercises