# Python: Operators
- Basic numerical operators: +, -, \*, /, //, \*\*, %
- Assignment operators: =, +=, -=, \*=, /=
- Relational operators: >, <, ==, !=, >=, <=
- Logical operators: and, or, not
- Membership operators: in, not in

## Basic numerical operators
Most of the standard numerical operators will be familiar including +, -, \*, /

In [98]:
5 + 2

7

In [99]:
5 - 2

3

In [100]:
5 * 2

10

In [101]:
5 / 2

2.5

There are a few numerical operators that require a little bit more explanation.

First, exponentiation (\*\*)

In [102]:
5 ** 2

25

In addition to "classic" or "true" division, / , there is also floor division, // , which rounds the result of division down to the nearest integer.

In [103]:
5 // 2

2

The modulus operator, % , returns the remainder from division. For example, if you divide 5 by 2, you can express the result as 2 with a remainder of 1. If you divide 9 by 3 it is cleanly divided with a remainder of zero. This is often used to determine whether or not one value is a multiple of another.

In [104]:
5 % 2

1

In [105]:
9 % 3

0

## Assignment operators
Here, we'll discuss the standard operators for assigning a value to a variable: `=`, `+=`, `-=`, `*=`, `/=`

The most typically used operator is the equal sign. It assigns the expression the right to the variable on the left. It's important to note that this is different from logical operator that compares whether two quantities are equal - that is a double equals sign `==`.

In [106]:
x = 7
print(x)

7

You can also assign multiple variables using tuples, lists, and strings. The number of items in the container on the left must match the number on the right.

In [107]:
a, b = (3, 4)
print(a)
print(b)

3
4

This is equivalent to writing the following:

In [108]:
(a, b) = (3, 4)
print(a)
print(b)

3
4

This is also equivalent to this:

In [109]:
[a, b] = (3, 4)
print(a)
print(b)

3
4

You can also do this assignment with lists:

In [110]:
a, b = [3, 4]
print(a)
print(b)

3
4

In [111]:
a, b = 'th'
print(a)
print(b)

t
h

You can also have more than two elements involved:

In [112]:
a, b, c, d = (3, 4, 9, 'this')
print(a)
print(b)
print(c)
print(d)

3
4
9
this

Let's say we wanted to increment the value stored in x but keep it stored in x - this is a common task. We could write the following:

In [113]:
x = 7
x = x + 1
print(x)

8

Or, equivalently, we could use the increment operator

In [114]:
x = 7
x += 1
print(x)

8

We could increment by whatever value we'd like

In [115]:
x = 7
x += 4
print(x)

11

In [116]:
We could similarly decrement the value

SyntaxError: invalid syntax (<ipython-input-116-32ce0bf9674d>, line 1)

In [117]:
x = 7
x = x - 1
print(x)

6

In [118]:
x = 7
x -= 1
print(x)

6

There are similar operators for multiplication and division

In [119]:
x = 7
x *= 2
print(x)

14

In [120]:
x = 7
x /= 2
print(x)

3.5

## Relational operators
These operators are used for comparison and are typically used for numerical data:
- Greater than >
- Less than <
- Equal to ==
- Not equal to !=
- Greater than or equal to >=
- Less than or equal to <=

Each returns a value of `True` or `False` depending on the status of the condition.

In [121]:
2 == 3

False

In [122]:
2 < 3

True

In [123]:
2 > 3

False

In [124]:
2 != 3

True

In [125]:
2 >= 3

False

In [126]:
2 <= 3

True

## Logical operators
There are three primary logical operators: `and`, `or`, and `not`. If both arguments in the expression are True, then the `and` statement returns true. If one or more of the arguments in the expression are True, then `or` returns true. `not` returns the opposite of the argument.

In [127]:
t = True
f = False

t and f

False

In [128]:
t and t

True

In [129]:
f and f

False

In [130]:
t or f

True

In [131]:
t or t

True

In [132]:
f or f

False

In [133]:
not t

False

Of course, you can combine these together, nesting them, to make more intricate expressions.

In [134]:
(t and f) or (f and f)

False

It's worthwhile to know that EVERY object has a corresponding Boolean value. The following each evaluate to `False`:
- False
- None
- 0
- Empty collections [], (), {}

With a few other exceptions, most things will return True. Here are some examples to demonstrate:

In [135]:
x = 7
not x

False

In [136]:
x = 0
not x

True

In [137]:
x = []
not x

True

In [138]:
x = [1,3,4]
not x

False

In [139]:
x = None
not x

True

## Membership operators
Imagine that we have a list and want to determine whether or not a certain entry is contained in that list. The operators `in` and `not in` are specifically for that purpose. They return a Boolean that corresponds to whether or not the condition is true.

In [140]:
mylist = [1,3,6,8,23,256]
3 in mylist

True

In [141]:
4 not in mylist

True

It also works with mixed object types

In [142]:
mynewlist = [1,3,6,8,23,256,'this','that']
'this' in mynewlist

True

And tuples work similarly

In [143]:
mynewtuple = (1,3,6,8,23,256,'this','that')
'this' in mynewtuple

True